---
import Layout from "../layouts/Layout.astro";
import avatarVec from "../assets/avatar-vec.png";
import ProfileSection from "../components/ProfileSection.astro";
import { getCollection } from "astro:content";
import SmallNavCard from "../components/SmallNavCard.astro";
import MediumNavCard from "../components/MediumNavCard.astro";

const exercisesCollection = await getCollection('exercises');
const projectCollection = await getCollection('projects');


// console.log(exercisesCollection)
---

<Layout title="Inicio" >
	<ProfileSection avatarImg={avatarVec}></ProfileSection>
	<section class="projects-section general-section">
		<header>
			<h2 class="section-title">Proyectos</h2>
			<a class="more-button squared-button" href="/projects/" aria-label="contact">
				<div>
					<span>Ver todos</span>
				<i><svg width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg></i>
				</div>
			</a>
		</header>
		{
			projectCollection.map(project=><MediumNavCard
				title={project.data.title}
				tags={project.data.tags}
				imgSrc={project.data.icon.src}
				imgAlt={project.data.icon.alt}
				url={project.data.slug}
			></MediumNavCard>)
		}
	</section>

	<section class="products-section general-section">
		<header>
			<h2 class="section-title">Ejercicios</h2>
			<a class="more-button squared-button" href="/projects/" aria-label="contact">
				<div>
					<span>Ver todos</span>
					<i><svg width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg></i>
				</div>
			</a>
		</header>
		{
			exercisesCollection.map(project=><SmallNavCard
				title={project.data.title}
				imgSrc={project.data.icon.src}
				imgAlt={project.data.icon.alt}
			></SmallNavCard>)
		}
	</section>

	<section class="general-section">
		<article class="general-article">
			<h2>Mis Proyectos</h2>
			<p>Discover my portfolio, where purposeful interfaces meet captivating design. My work strives to enhance experiences and inspire.</p>
		</article>
	</section>

</Layout>

<style>
	.more-button{
		background-color: var(--button-bg-4);
		
	}
	.more-button div{
		box-shadow: 
		0px 1px 1px 0px rgba(23, 23, 23, 0.04), 
		inset 0px -1px 1px 0px rgba(66,66,66,0.1),
		0px 0px 0px 0.1px rgba(0, 0, 0, 0.16);
	}
	.more-button span{
		display: none;
	}

	.section-title{
		color: var(--p-color);
	}

	@media screen and (min-width:540px) {
		.more-button{
			border-radius: var(--border-radius-md);
		}
		.more-button span{
			display: block;
		}
	}
	
</style>
