---
import { ClientRouter, fade, slide } from 'astro:transitions';
import "astro:transitions/client"

import Footer from '../components/footer/Footer.astro';
import '../styles/global.scss'
import NavBarHeader from '../components/header/NavBarHeader.astro';
import type { TocItem } from '../services/GenerateToc';
import MarkdownToc from '../components/contentTable/MarkdownToc.astro';


interface Props{
    title?: string;
    description?: string;
    routes?: string[];
    toc?: TocItem[];
    enableToc?: boolean;
}

const {title, routes=["/","/about/","/projects/","/notes/"], enableToc=false, toc, description} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {title && <meta name="description" content={description}/>}
    <title>{title}</title>
    <ClientRouter></ClientRouter>
</head>
<body>
    <NavBarHeader routes={routes} enableToc={enableToc}></NavBarHeader>
	<main class="main main-container">
		<slot></slot>
	</main>
    <!-- { toc &&  <aside class="markdown-nav"> <TocNav headings={toc}></TocNav> </aside> } -->
    { toc &&  <MarkdownToc headings={toc} />}
	<Footer />
</body>
</html>

<style>
    .main{
        margin-top: 6rem;
    }

    @media screen and (min-width:920px) {
        .main{
            padding: 2rem 3rem;
        }
    }
    
</style>
<!-- 
<script>
    import "astro:transitions/client"
    document.addEventListener("astro:page-load",()=>{
        const theme = (() => {
            const localStorageTheme = localStorage?.getItem("theme") ?? "";
            if (["dark", "light"].includes(localStorageTheme)) {
                return localStorageTheme;
            }
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                return "dark";
            }
            return "light";
        })();
        document.documentElement.setAttribute("data-theme", theme);
    });
</script> -->

<script>
    function applyTheme() {
      localStorage.theme === "dark"
        ? document.documentElement.setAttribute("data-theme","dark")
        : document.documentElement.setAttribute("data-theme", "light");
    }
  
    document.addEventListener("astro:after-swap", applyTheme);
    applyTheme();
</script>